.blue-back {
  background-color: #5D76C9;
}

.green-back {
  background-color: #8DBB61;
}

.red-back {
  background-color: #D05C5C;
}

.grey-back {
  background-color: #f3f3f3;
}

.hollow-back-white {
  border: 1px solid white;
  background-color: transparent;
}

.hollow-back-lblue {
  border: 1px solid #0da9ef;
  background-color: transparent;
  color: #383838;
}

.trans-back-lblue {
  border: 1px solid #0da9ef;
  background-color: rgba(255, 255, 255, 0.5);
  color: #383838;
}

ul.pagination {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  list-style: none;
  border-top: 0;
}

ul.pagination li {
  padding: 6px 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  line-height: 24px;
  width: 36px;
  height: 36px;
}

ul.pagination li:hover {
  border-radius: 50%;
  border-color: #0da9ef;
  background-color: #0da9ef;
}

ul.pagination li:hover a {
  color: #fff;
}

ul.pagination li a {
  text-decoration: none;
  margin-left: 2px;
  width: 36px;
  height: 36px;
}

ul.pagination li a.active, ul.pagination li.active {
  border-color: #0da9ef;
  background-color: #0da9ef;
  color: #fff;
}

.grid-item .product-card .product-thumb .inner {
  position: relative;
}

.grid-item .product-card .product-thumb .inner .data {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #383838;
}

.grid-item .product-card .product-thumb .inner .data div.text {
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.grid-item .product-card .product-thumb .inner .data:hover {
  opacity: 1;
}

.widget .inline ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.widget .inline ul li {
  min-width: 60px;
  display: inline-block;
  list-style: none;
}

.site-logo {
  width: 190px;
}

.index-header {
  margin-bottom: 25px;
}

.custom-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  margin-bottom: 5px;
}

.navbar-sticky .toolbar .inner .tools .account img {
  border-radius: 50%;
}

.btn-sm-round {
  height: 36px;
  padding: 0 7px;
  border-radius: 18px;
  font-size: 12px;
  line-height: 34px;
  width: 37px;
}

.centered-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.centered-form .inner {
  max-width: 500px;
}

.product-card .max-text {
  max-height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.addedToFavs {
  background-color: #D05C5C;
  color: #fff;
  border: 0;
}

.dropdown-product-item > .dropdown-product-info {
  max-width: 148px;
  width: 148px;
  padding-left: 0;
}

.dropdown-product-item > .dropdown-product-custom-thumb > img {
  border-radius: 50%;
  max-width: 100%;
  width: 70px;
  min-width: 70px;
  height: 70px;
}

.toolbar .cart > .toolbar-dropdown {
  width: 300px;
  padding-left: 18px !important;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user-info-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-info-wrapper .user-info .user-data {
  padding-top: 26px;
}

.alert-success {
  background-color: rgba(161, 147, 231, 0.1);
  color: #000;
  margin-top: 20px;
}

.marg-top-25 {
  margin-top: 25px;
}

.pad0 {
  padding: 0;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.horizontal-list ul {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.horizontal-list ul li {
  display: inline-block;
  list-style: none;
}
